/* Maim colors

white #FFFFFF;
accente-color #2196F3; 

--Background--
bg-primary-color #E5E5E5;
bg-secondery-color #F5F4FA; 

--Text--
text-secondery-color #212121;
text-primary-color #757575;
text-contacts-color rgba(255, 255, 255, 0.6);

main font-family: Roboto, sans-serif;
logo font-family Raleway;

*/
/* Standart style */
/* :root {
  --white: #ffffff;
  --accente-color: #2196f3;
  --bg-bright-color: #ffffff;
  --bg-dim-color: #f5f4fa;
  --bg-primary-color: #2f303a;
  --text-secondery-color: #212121;
  --text-primary-color: #757575;
  --text-contacts-color: rgba(255, 255, 255, 0.6);

  --delay: 250ms;
} */
/* 
* {
  box-sizing: border-box;
} */
/* def ul-list */
/* ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.inline {
  display: inline-block;
}

body {
  background-color: var(--bg-bright-color);
  color: var(--text-primary-color);

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

body.no-scroll {
  overflow: hidden;
}

img {
  display: block;
}

.no-margin {
  margin: 0;
} */
/* footer */
/* .footer {
  background: var(--bg-primary-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* Text */
/* .section-title {
  color: var(--text-secondery-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
} */

/* ==============================*/

/* Links */
/* .link-icon {
  transition: var(--delay) fill cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover .link-icon {
  fill: currentColor;
}
.link {
  text-decoration: none;
  font-weight: inherit;
  font-style: normal;
  display: inline-block;
  transition: var(--delay) color cubic-bezier(0.4, 0, 0.2, 1);
}
.link:focus,
.link:hover {
  color: var(--accente-color);
} */

/* Contact links */
/* .contact-warp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.contact-link {
  color: var(--text-contacts-color);
  font-size: 14px;
  line-height: inherit;
  letter-spacing: 0.03em;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--text-contacts-color);
}
.header__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin-left: 50px;

  color: var(--text-primary-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.map-link {
  color: var(--white);
}

.map-link:hover,
.map-link:focus {
  color: var(--white);
} */

/* ============================================== */

/* Navigation */
/* .nav__link {
  color: var(--text-secondery-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0px;
}

.nav__item {
  position: relative;
}
.nav__item + .nav__item {
  margin-left: 50px;
}
.nav__link--curent {
  color: var(--accente-color);
}

.nav__link--curent::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--accente-color);
  border-radius: 2px;
} */

/* ======================================= */
/* logo */
/* .logo {
  color: #2196f3;
  text-decoration: none;

  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;

  margin-right: 94px;
}
.black__logo {
  color: var(--text-secondery-color);
}
.white-logo {
  color: var(--white);
}

.logo:hover,
.logo:focus {
  color: var(--accente-color);
} */

/* =========================================================== */
/* Buttons */
/* .button {
  background-color: var(--bg-dim-color);
  color: var(--text-secondery-color);

  font-weight: 500;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;

  border-color: transparent;
  border-radius: 4px;

  padding: 6px 20px;

  transition: var(--delay) background-color cubic-bezier(0.4, 0, 0.2, 1),
    var(--delay) color cubic-bezier(0.4, 0, 0.2, 1),
    var(--delay) box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: var(--accente-color);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.accente-button {
  background: var(--accente-color);
  color: var(--bg-dim-color);

  transition: var(--delay) background-color cubic-bezier(0.4, 0, 0.2, 1),
    var(--delay) color cubic-bezier(0.4, 0, 0.2, 1);
}
.accente-button:focus,
.accente-button:hover {
  background: var(--bg-bright-color);
  color: var(--accente-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.buisnes-solution__button {
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  border-radius: 8px;

  display: flex;
  align-items: center;
  text-align: center;

  margin: 0 auto;
  padding: 15px 32px;
} */

/* ======================================= */
/* index.html style */

/*sections background */
/* .bg-bright {
  background: var(--bg-bright-color);
}

.bg-dim {
  background: var(--bg-dim-color);
} */

/* ========================== */

/* Section one Buisnes solution */
/* .buisnes-solution {
  background: var(--bg-primary-color);
  padding-top: 200px;
  padding-bottom: 200px;

  margin: 0 auto;

  background-size: cover;
  max-width: 1600px;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/studio/hero/hero-bg.jpg);
}
.buisnes-solution__title {
  color: var(--white);
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin: 0 auto;
  margin-bottom: 30px;

  width: 700px;
} */

/* =============================== */
/* .feature {
  padding-top: 94px;
}

.feature-list__title {
  color: var(--text-secondery-color);
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
} */

/* ============================ */

/* .team {
  padding-top: 95px;
}
.team-list__disc {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  margin-top: 10px;
  padding-bottom: 10px;
}

.team-list__title {
  color: var(--text-secondery-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  padding-top: 30px;
} */

/* ===================== */

/* .icon-canv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;

  background: var(--bg-bright-color);
  border-radius: 100%;
  transition: var(--delay) background-color cubic-bezier(0.4, 0, 0.2, 1);
} */
/* 
.media-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding-bottom: 30px;
} */

/* .icon-canv:hover,
.icon-canv:focus {
  background: var(--accente-color);
}

.icon-canv:hover .icon,
.icon-canv:focus .icon {
  fill: var(--bg-bright-color);
} */

/* -------client------ */
/* .client-section {
  padding-top: 94px;
}
.client-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.client-list__canv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 170px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: var(--delay) border-color cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__canv:hover,
.client-list__canv:focus {
  border-color: var(--accente-color);
}

.client-list__canv:hover .client-list__icon,
.client-list__canv:focus .client-list__icon {
  fill: var(--accente-color);
} */
/* .icon {
  fill: var(--text-primary-color);
  transition: var(--delay) fill cubic-bezier(0.4, 0, 0.2, 1);
} */

/* portfolio.html */

/* .catalog {
  margin-top: 94px;
  margin-bottom: 50px;
}

.catalog-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-list:nth-child(2n + 2) {
  margin-top: 30px;
  margin-bottom: 30px;
}

.catalog-list__item {
  margin-top: 30px;
  width: 370px;
}

.catalog-list__link {
  color: var(--bg-primary-color);
  transition: var(--delay) color cubic-bezier(0.4, 0, 0.2, 1),
    var(--delay) box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}
.catalog-list__link:focus,
.catalog-list__link:hover {
  color: var(--bg-primary-color);
  text-decoration: none;

  box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f, 0px 1px 1px 0px #0000001f;
} */
/* .curent-filter {
  background: var(--accente-color);
  color: var(--bg-bright-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */
/* .catalog-type {
  font-size: 16px;
  line-height: 1.88;
  margin: 0;
}
.catalog-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 4px;
}

.catalog-item:hover .catalog-overlay,
.catalog-item:focus .catalog-overlay {
  transform: translateY(0);
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
}

.catalog-tumb {
  position: relative;
  overflow: hidden;
}

.catalog-overlay {
  position: absolute;
  bottom: 0;
  left: 0;

  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 64px 24px;
  margin: 0;

  font-size: 18px;
  line-height: calc(18 / 12);
  color: #ffffff;

  transform: translateY(100%);
  transition: transform var(--delay) cubic-bezier(0.4, 0, 0.2, 1),
    opacity var(--delay) cubic-bezier(0.4, 0, 0.2, 1),
    bacground-color var(--delay) cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
} */

/* .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
} */
/* section {
  padding-bottom: 94px;
} */
/* .nav_flex {
  display: flex;
  justify-self: flex-start;
  align-items: center;
} */

/* .header__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
/* .feature__item {
  width: 270px;
} */
/* .feature-item + .feature-item {
  margin-left: 30px;
} */

/* .feature-list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 30px;
}

.feature-list__icon-canv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;

  background: #f5f4fa;
  border-radius: 4px;
} */

/* .what-we-do__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.what-we-do__item {
  position: relative;
}
.what-we-do__text {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 70px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;

  background: rgba(47, 48, 58, 0.8);
} */

/* .social-title {
  margin: 0px;

  color: var(--bg-bright-color);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  text-align: left;
  margin-bottom: 20px;
  margin-top: 20px;
} */
/* .footer-logo {
  display: inline-block;
}

.footer-flex {
  display: flex;
  gap: 93px;
}

.footer__icon-canv {
  background: rgba(255, 255, 255, 0.1);
  transition: var(--delay) background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .icon-canv:hover,
.footer .icon-canv:hover {
  background: var(--accente-color);
}
.footer .icon {
  fill: var(--bg-bright-color);
}

.footer-warp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 70px;
}

.footer-warp + .footer-warp {
  margin-top: 20px;
}

.footer-form {
  display: flex;

  gap: 12px;
}

.footer-email-input {
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--bg-bright-color);

  padding: 15px 0px;
  padding-left: 16px;
}

.footer-email-input:focus,
.footer-email-input:focus-visible {
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: transparent;
} */

/* .subscribe-btn__text {
  text-align: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}
.subscribe-btn__icon {
  fill: var(--bg-bright-color);
  transition: fill var(--delay) cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover .subscribe-btn__icon {
  fill: var(--accente-color);
} */
/* footer .subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 200px;
  height: 50px;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
} */

/* .filter-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-item + .filter-item {
  margin-left: 8px;
} */

/* .team-list__item {
  background-color: var(--bg-bright-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
/* .catalog-content {
  padding: 20px 24px;
  border: 1px solid #eee;
} */

/* .header-border {
  border-bottom: solid 1px #e5e5e5;
} */
/* ========Modal======= */
/* 
.modal-backdrop {
  position: fixed;
  top: 0px;
  right: 0px;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
}

.modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}

.close-icon {
  fill: var(--text-secondery-color);
}
.modal-close-btn:hover .icon,
.modal-close-btn:focus .icon {
  fill: var(--accente-color);
}

.modal__title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 12px;
} */

/* =========Registration form */
/* .inputs-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  width: 448px;
  margin: 0 auto;
}
.span-block {
  display: block;
}
.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: solid 1px var(--bg-primary-color);
  border-radius: 4px;
}
.form-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: solid 1px var(--bg-primary-color);
  border-radius: 4px;
}

.form-textarea:focus-visible {
  border: transparent;
  outline: 1px solid var(--accente-color);
  border-radius: 2px;
  outline-offset: -1px;
}

.submit-btn {
  width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
.submit-btn:hover,
.submit-btn:focus {
  background: var(--accente-color);
  color: var(--bg-bright-color);
} */
/* .registration-form__lable {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-input:focus-visible {
  border: transparent;
  outline: 1px solid var(--accente-color);
  border-radius: 2px;
  outline-offset: -1px;
}

.form-input:focus-visible + .input-icon {
  fill: var(--accente-color);
}

.input-lable {
  position: relative;
}

.input-icon {
  position: absolute;
  bottom: 15px;
  left: 15px;
  fill: var(--text-secondery-color);
}

.registration-check:checked + .custom-check .icon-check {
  background: var(--accente-color);
  border-radius: 2px;
  outline: solid 2px var(--text-secondery-color);
  outline-offset: -2px;
}
.icon-check {
  border-radius: 2px;
  outline: solid 2px var(--text-secondery-color);
  outline-offset: -2px;
  transition: outline var(--delay);
}

.custom-check {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.policy-link {
  color: var(--accente-color);
} */
